html
body
  font-family -apple-system BlinkMacSystemFont 'Segoe UI' Roboto 'Hiragino Sans GB' 'Microsoft YaHei UI' 'Microsoft YaHei' 'Source Han Sans CN' sans-serif 'Apple Color Emoji' 'Segoe UI Emoji' 'Segoe UI Symbol'
.border-1px
  &::after
    transform scaleY(1)

  @media (min-resolution: 2dppx)
    &::after
      transform scaleY(0.5)
  @media (min-resolution: 3dppx)
    &::after
      transform scaleY(0.33)
